<ul>
	@{
		var children = OutputPages.FilterSources("{*, !posts, !quotes}")
			.OrderBy(x => x.GetString("Order"));

		foreach (var child in children) {
			<li>@Html.DocumentLink(child)</li>		
		}
	}
</ul>
