<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<!--To always remove trailing slash from the URL-->
				<rule name="Remove trailing slash" stopProcessing="true">
					<match url="(.*)/$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{HTTP_HOST}" pattern="^ivari\.horm\.ee$" />
					</conditions>
					<action type="Redirect" redirectType="Permanent" url="/{R:1}" />
				</rule>

				<rule name="Redirect root domain to main site" enabled="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^horm\.ee$" />
					</conditions>
					<action type="Redirect" url="https://ivari.horm.ee/{R:1}" appendQueryString="true" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
