<section>
	<em>Random Quote</em>
	<div id="quote"></div>
	<script type="text/javascript">
		LoadQuote("https://risk-api.azurewebsites.net/api/Quotes?code=dbva5oDgcgNQH8odC-KV4PETJgwq1hcSde1benjvVjbYAzFu86uByQ==", document.getElementById("quote"))
	</script>
</section>
